
$yellow: #fcb900;

.btncontact {
    padding: 12px 32px;
    color: black;
    background: $yellow !important;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;

}